<div>
  <div class="mx-auto border-2 mt-2 flex flex-row">
    <div class="flex flex-row border-r-2 p-2">
      <img class="w-20 h-12" src="https://whatpixel.com/images/2015/12/ng-book-2-angularjs.jpg" alt="ng-book" />
      <p class="text-lg font-bold self-center ml-2">ng-book</p>
    </div>
    <p class="text-2xl ml-2 self-center">Angular Inventory App</p>
  </div>
  <products></products>
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
    Button
  </button>
</div>